*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html{
    font-family: "Poppins" ,sans-serif;
}
.img{
    width: 100%;
}


body{
    
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.flex{
    display: flex;
}
.block{
    display: block;
}
.list-none{
    list-style: none;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.gap-1{
    gap: 1rem;
}
.gap-1-5{
    gap: 24px;
}
.gap-2{
    gap: 2rem;
}

.main{
    padding: 0 10px;
}

.main-navbar{
    padding: 15px 0;
}
.navbar a{
    color: #000;
    display: block;
}

@media (max-width: 768px){
    .navbar a{
        display: none;
    }
}

.search-bar input[type="text"]{
    font-family: "Poppins" ,sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    height: 49px;
    border-radius: 100px;
    background-color: #F3F3F3;
    border: none;
    padding: 0px 0 0 20px;
    width: 216px;
}

.top-paragraph{
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #777385;
}
.hero-left-content h2{
    font-family: "Poppins" ,sans-serif;
    font-weight: 600;  
    font-size: 30px;
    line-height: 40px;
    color: #212121;
    padding: 10px 0;
}
.bottom-paragraph{
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #777385;
}

.hero-right-content-1 h3{
    font-family: "Poppins" ,sans-serif;
    font-weight: 600;  
    font-size: 19px;
    line-height: 30px;
    color: #212121;
    padding: 10px 0;    
}
.hero-right-content-2{
    margin-top: 3rem;
}
.hero-right-content-2 h3{
    font-family: "Poppins" ,sans-serif;
    font-weight: 600;  
    font-size: 19px;
    line-height: 30px;
    color: #212121;
    padding: 10px 0;    
}
.read-more{
    color: #5E49DB;
    font-family: "Poppins" ,sans-serif;
    font-weight: 600;  
    cursor: pointer;
}
.hero-left-content img{
    width: 100%;
}
@media (max-width:1135px){
    .hero-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-right-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        
    }
    .hero-right-content-2{
        margin-top: -5px;
    }
    .hero-left-content img{
        width: 90%;
    }
}
@media (max-width:768px){
    .hero-content{
        justify-content: center;
    }
    .hero-left-content{
        justify-content: center;
    }
    .hero-right-content{
        flex-wrap: wrap;
        justify-content: center;
     
    } 
    .hero-left-content img{
        
        justify-content: center;
    }
}
/* cart section start  */
.main-cart{
    margin-top: 4rem;
}
.cart-1 h3, .cart-2 h3, .cart-3 h3{
    padding: 10px 0;  
}

@media (max-width:1135px){
    .main-cart-content{
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}

/* single btn  */
.main-single-button{
    margin: 3rem 0;
}
.single-button a{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    padding: 13px 40px;
    color: #5E49DB;
    border: 1px solid #5E49DB;
    border-radius: 50px;
    transition: 0.4s ease-in;
}
.single-button a:hover{
    background-color: #5E49DB;
    color: #fff;
}

/* footer start  */
.main-footer{
    background-color: #F6F6F6;
    padding: 61px 0 0 0;
}
.footer-logo p{
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;  
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
}
.footer-heading{
    font-family: "Poppins" ,sans-serif;
    font-weight: 800;  
    font-size: 25px;
    line-height: 30px;  
}
.footer-list li{
    padding: 5px 0;
    
}
.list{
    margin-top: 20px;
}
.footer-list li a{
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;  
    font-size: 13px;
    line-height: auto;
    color: #212121;
    transition: 0.4s ease-in;
}
.footer-list li a:hover{
    color: #2121219a;
}
.our-location p{
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;  
    font-size: 13px;
    line-height: 30px;
    margin-top: 20px;
}

.main-footer-content{
    flex-direction: row;
    
}
@media (max-width:992px){
    .main-footer-content{
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:667px){
    .main-footer-content{
        grid-template-columns: repeat(1fr);
    }
    .hero-left-content h2{
        font-size: 20px;
        line-height: 30px;
    }
}

/* copyright start  */
.main-copyright{
    padding: 51px 0 31px 0;
}
.copy-right p{
    font-family: "Poppins" ,sans-serif;
    font-weight: 400;  
    font-size: 13px;
    color: #212121;
    line-height: auto;
}
.copy-right .copy-right-name a{
    color: #212121;
}

.copy-right .copy-right-name a:hover{
    color: #e21010;
}